---
layout: null
---

{% for item in site.data.events %}
{% assign filename = item[0] %}
{% assign event = item[1] %}

{% if filename != "event-template" %}

{% assign start_time = event.time | split: "–" | first | strip %}
{% assign end_time = event.time | split: "–" | last | strip %}

{% assign dtstart = event.date | append: " " | append: start_time %}
{% assign dtend = event.date | append: " " | append: end_time %}

{% assign dtstart = dtstart | date: "%Y%m%dT%H%M%S" %}
{% assign dtend = dtend | date: "%Y%m%dT%H%M%S" %}

{% capture ics_file %}
---
layout: null
title: {{ event.title | jsonify }}
description: {{ event.description | jsonify }}
signup_url: {{ event.signup_url | jsonify }}
location: {{ event.location | jsonify }}
uid: {{ filename }}@example.org
dtstart: {{ dtstart }}
dtend: {{ dtend }}
permalink: /ics/{{ filename }}.ics
---

{% include_relative event.ics %}
{% endcapture %}

{{ ics_file }}

{% endif %}
{% endfor %}
